<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/home.css" />
    <title>SRG Home</title>
  </head>
  <body>
    <!-- Home Wrapper -->
    <div class="home_wrappper">
      <!-- Home Navigation -->
      <header>
        <nav>
          <ul>
            <li><a href="">SRG</a></li>
            <li><a href="">Search</a></li>
            <li><a href="">Progress</a></li>
            <li><a href="">Coming Soon</a></li>
          </ul>
        </nav>
      </header>

      <!-- Courses Wrapper -->
      <div class="course_wrapper">
        <div class="course">
          <div class="course_left_wrapper">
            <button>Start Course</button>
          </div>
          <div class="course_right_wrapper">
            <h1 class="course_name">How to Get The Best Out of SRG System</h1>
            <p class="course_para_1">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Similique corporis cum at aliquam minima animi sed velit
              laudantium ipsam explicabo nulla, earum illo ipsum, asperiores
              dolorem est pariatur aperiam? Tempore!
            </p>
            <p class="course_para_2">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Similique corporis cum at aliquam minima animi sed velit
              laudantium ipsam explicabo nulla, earum illo ipsum, asperiores
              dolorem est pariatur aperiam? Tempore!
            </p>
          </div>
        </div>
      </div>

      <!-- Next Course -->

      <div class="next_course">
        <button class="next_course_btn">Next Course</button>
      </div>
    </div>
  </body>
</html>
